/* when i get internet dont forget yo add google font import */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===================themed variables ======================= */

body {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --error-color: #fc758c;
}

/* @media (prefers-color-scheme: light) {
  body {
    --bg-color: #e2eaf3;
    --second-bg-color: #ccdce9;
    --text-color: #1f255e;
    --main-color: #2f73fe;
  }

  header.header {
    background: var(--second-bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
  }
} */

.floating {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 999;
  padding: 0 15px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
}

.themeIcon {
  font-size: 4em;
}

/* ==================== end of themed variables===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* transition: background .2s ease; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 5s ease;
}

.btn:hover {
  box-shadow: none;
}
img {
  max-width: 100%;
}
.hero {
  position: relative;
  background: var(--second-bg-color);
  background: url(images/home-laptop.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}

.hero div {
  text-align: center;
}

span.small {
  font-size: 2rem;
}

p.nsvp {
  font-size: 5rem;
}

.cta {
  margin-top: 80px;
}

.cta a {
  background: var(--main-color);
  font-size: 3rem;
  padding: 15px 50px;
  border-radius: 50px;
  /* transition: transform 3s ease-in; */
  animation: glow 3s ease infinite;
  color: var(--text-color);
}
.cta a:hover {
  transform: scale(1.12);
  animation: none;
  box-shadow: 2px 2px 1rem var(--bg-color);
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.cta a:active {
  background: none;
}

@keyframes glow {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 3rem var(--main-color);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

.alt-color {
  color: var(--main-color);
}
.hero * {
  z-index: 2;
}
.intro5 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  filter: opacity(80%);
}

.intro h2 {
  text-align: center;
}

.intro .material-symbols-outlined {
  font-size: 10rem;
}

.intro-inner {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

.intro-inner > * {
  flex-basis: 50%;
  height: 260px;
  /* margin-bottom: 10%; */
}

.icon-div,
.process-div {
  text-align: center;
}

.process-inner {
  text-align: left;
}

.process-inner h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--main-color);
}

.process-inner .process-talk {
  font-size: 1.4rem;
}

div.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#about {
  background: var(--second-bg-color);
  padding-bottom: 80px;
}
h2 {
  font-size: 3rem;
  color: var(--main-color);
}
.about p {
  font-size: 1.5rem;
  padding-top: 30px;
}

div.how {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.processes {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

div.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.card p {
  font-size: 1.5rem;
  margin-top: 5px;
}

section.contact {
  background: var(--second-bg-color);
  text-align: center;
}

.contact-heading span {
  font-size: 1.5rem;
}

form.contact-form {
  margin: 0 auto;
  font-size: 2rem;

  width: 80%;
  max-width: 670px;
}

.contact-form input {
  width: 100%;
}

/* form template style */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  transition: outline-color 1s ease;
}

#fs-frm textarea {
  resize: none;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  color: var(--text-color);
  background-color: var(--bg-color);
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--main-color);
  outline-offset: -1px;
}

#fs-frm input:invalid,
#fs-frm select:invalid,
#fs-frm textarea:invalid {
  outline-color: var(--error-color);
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: var(--main-color);
  transition: transform 0.5s ease;
  margin: 0 auto;
}

#fs-frm [type="button"]:hover,
#fs-frm [type="submit"]:hover,
#fs-frm [type="reset"]:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.2rem var(--main-color);
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

/* form template style end */

section.little {
  max-height: 40vh;
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
}

.little i,
.little span {
  font-size: 10rem;
  color: #0ef;
  transition: color 0.5s ease;
}

.little i:hover,
.little span:hover {
  color: #a0f9ff;
  text-shadow: 0 0 0.5rem #a0f9ff;
}

.little > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.little p {
  font-size: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
}

.footer-icontop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-icontop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-icontop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

@media print {
  body {
    display: none;
  }

  .wise {
    display: block;
    font-size: 7rem;
    color: red;
  }
}

.social-links {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a i {
  font-size: 4rem;
  color: var(--text-color);
  transition: color 0.5s ease;
}

.social-links a i:hover {
  color: var(--main-color);
  text-shadow: 0 0 1rem var(--main-color);
}

/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home-img img,
  .about-img img {
    width: 60vw;
  }
}

@media (max-width: 991px) {
  p.nsvp {
    font-size: 4rem;
  }

  .hero {
    background: url(images/home-tab.jpg);
    min-height: 80vh;
  }

  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services,
  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }

  .themeIcon {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .cta {
    margin-top: 30px;
  }

  .cta a {
    font-size: 2rem;
    padding: 10px 40px;
    border-radius: 50px;
    /* transition: transform 3s ease-in; */
    animation: glow 3s ease infinite;
    color: var(--text-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .little i,
  .little span {
    font-size: 7rem;
  }
}

@media (max-width: 617px) {
  p.nsvp {
    font-size: 3rem;
  }



  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .little i,
  .little span {
    font-size: 5rem;
  }

  section.little {
    flex-wrap: wrap;
    min-height: fit-content;
    max-height: max-content;
  }

  .little > div {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .little i,
  .little span {
    font-size: 7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .hero {
    /* background: url(images/home-mobile.jpg); */
    min-height: 60hv;
  }

  .home-img img,
  .about-img img {
    width: 130vw;
  }
  .try1 {
    top: -101px;
    left: -85px;
  }

  .try2 {
    top: -90px;
    left: -159px;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
